#game-screen {
	background-image: url('Space.jpg');
	max-width: 64%;
	max-height: 94%;
	position: absolute;
	border: 2px solid red;
	margin-left: 18vw;

	
}

#player {
	max-width: 3%;
	max-height: 3%;
	position: relative;
	left: 18.46%;
	top: 168.8%;
	
}

.laser {
	max-width: 6%;
	max-height: 6%;
	position: relative;
	
}



.enemy {
	max-width: 4.5%;
	max-height: 4.5%;
	position: absolute;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 
		0 0 6px 3px #fff,
		0 0 5px 6px #f0f,
		0 0 9px 9px #0ff;
	
}

.transition { 
opacity: 1;
transition: opacity 1.5s ease-out;
	
 }

 .dead {
 	max-width: 4.5%;
 	max-height: 4.5%;
 	position: absolute;
 	opacity: 0;
	 
 }

 #text {
 	text-align: center;
 	color: gold;
  	text-decoration: underline;
	 
 }
  #text2 {
 	text-align: center;
 	color: gold;
  	
 }

#Paragraph {

	margin-left: 18vw;
	margin-right: 18vw;
	color: gold;

}


#Score {
	position: relative;
	color: black;
}
#HighScore {
	position: relative;
	color: black;
}

#gameover {
	text-align: center;
	top-margin: 50%;
	color: white;
	font-size: 375%;
	display: none;

}
 .body{
 	cursor: url("Pictures\\Cursor.png"), url("Pictures\\Cursor.cur"), default;
 }

